* {
    text-align: center;
    background-color: hsla(300, 50%, 90%, .7);
}
button {
    background-color: hsla(120, 60%, 70%, .5);
  
}

#homeimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    width: 500px;
}