* {
    text-align: center;
    background-color: hsla(300, 50%, 90%, .7);
    font-family: "Helvetica", "Monaco", sans-serif;
}
button {
    background-color: #FFc857;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    width: auto;
}
a {
    background-color: #FFc857;
    color: #2e4052;
}
a:active {
    color: #bdd9bf;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#homeimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    width: 500px;
}